server {
    listen 0.0.0.0:${NGINX_PORT}; # 5000 in dev
    server_name ${SERVER_NAME};
    root /usr/share/nginx/html;
    index index.html index.htm;

    client_max_body_size 10M;

    # Serve static files and handle SPA routing
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Proxy API requests to the backend service
    location /api/ {
        proxy_pass ${BACKEND_URL}; # http://backend:8000 in dev
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /uploads/ {
        proxy_pass ${BACKEND_URL}/uploads/;
    }
}