# These will ne used for deployment
# Copy this to .env and modify as needed

# Frontend
FRONTEND_PORT=5000
SERVER_NAME=_
BACKEND_URL=http://backend:8000

# SSO Gateway (for development/production)
GATEWAY_URL=https://studentproject-gateway.dcs.gla.ac.uk/psd

# Database
POSTGRES_DB=sh40db
POSTGRES_USER=sh40user
POSTGRES_PASSWORD=sh40password

# Backend
BACKEND_PORT=8000
DB_HOST=db
DB_PORT=5432
DB_NAME=sh40db
DB_USER=sh40user
DB_PASSWORD=sh40password

SESSION_SECRET=skibidi
COOKIE_DOMAIN=maloelap.dcs.gla.ac.uk
COOKIE_SECURE=false 
NODE_ENV=local # development, production, test, local
FRONTEND_URL=http://maloelap.dcs.gla.ac.uk:5000

SSO_HEADER_GUID=dh75hdyt76
SSO_HEADER_NAME=dh75hdyt77
SSO_HEADER_EMAIL=dh75hdyt80

ADMIN_EMAILS=Sarah.Finlayson@glasgow.ac.uk,2913985S@student.gla.ac.uk,2787006U@student.gla.ac.uk,2887454G@student.gla.ac.uk,2881748P@student.gla.ac.uk,2892128A@student.gla.ac.uk,2786624G@student.gla.ac.uk
