.navbar {
  background-color: darkblue;
  padding: 10px;
  display: flex;
  gap: 20px;    
  /*position: fixed;  */
  width: 100%; 
  justify-content: center; 
  z-index: 1000;
}

.navbar button {
  background: darkblue;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.navbar button:hover {
  background: lightblue;
}
