
.form {
  background-color: rgb(230, 231, 233); 
  padding: 30px;
  border-radius: 10px;       
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  text-align: center;
  flex: 1;
  color: black; 
  width: 30%;
  margin: auto;
  font-size: 16px;
}

input[type=text]{
  margin: 10px;
  background-color: white;
  background-position: 10px 10px;
  padding-left: 40px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type=number]{
  margin: 10px;
  text-align: center;
  background-color: white;
  background-position: 10px 10px;
  padding-left: 40px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 500;
}

button {
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}

.star-rating {
  font-size: 2rem;
}

.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}
