.attractionPage {                 
  display: flex;  
  flex-wrap: wrap;            
  justify-content: center;   
  gap: 40px;                
  padding: 50px;
}

.attraction {           
  background-color: lightgray;
  padding: 30px;
  border-radius: 10px;       
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
  color: black;
  width: 250px;
  height: 400px;
}

.attraction:hover {
  transform: scale(1.05);           
  background-color: rgb(220, 240, 255); 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

.Content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;    
  align-items: center;    
  gap: 40px;              
  margin-top: 20px;      
  max-width: 1200px;      
  margin-left: auto;      
  margin-right: auto;
  
}


.attraction img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 16px;
}



.attraction h2, .attraction p {
  color: black !important;
  text-align: center;
}

h2 {
    text-align: center;
}

/* .singleAttractionPage {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 4px 10px white (0,0,0,0.15);
  padding: 30px;
  border-radius: 10px;
  display: flex;               
  width: auto;
  height: auto;                
} */

.singleAttractionPage {
  max-width: 900px; 
  margin: 40px auto; 
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 30px;          
}

/* .singleAttractionPage img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  flex-shrink: 0;
} */

.singleAttractionContent {
  color: #D9D9D9;
  flex: 1;                   
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;  /* or a max-width */
  max-width: 400px;
}

.singleAttractionContent h2 {
  color: black;
  font-size: 32px;
  margin-bottom: 15px;
}

.singleAttractionContent p {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.book-btn {
  background-color: #415CB7;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #2f4490;
}

