.HomePage {                 
  background-color: white;
  padding: 50px;
}

.Information {           
  background-color: lightgray;
  padding: 30px;
  border-radius: 10px;       
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  text-align: left;
  transition: transform 0.2s ease, background-color 0.2s ease;
  color: black;
  width: 60%;
  margin: auto;
}

h2 {
    text-align: center;
}

.Information:hover {
  transform: scale(1.05);           
  background-color: rgb(220, 240, 255); 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Information h3 {
    text-align: center;
}
